<%- include('header'); -%>

<h2>This is the about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe libero possimus culpa, pariatur illo excepturi nihil perferendis laboriosam at corporis fuga ipsam, maxime optio inventore expedita iusto mollitia molestias aut!</p>

<%- include('footer'); -%>